@{
    ViewBag.Title = "web.index";
}
<h2>@ViewBag.Message</h2>
    <h2>@ViewBag.Area</h2> 

<p id="p1">
	Where I come from isn't all that great
	<br />
	My automobile is a piece of crap<br />
	My fashion sense is a little whack<br />
	And my friends are just as screwy as me<br />
	I didn@t go to boarding schools<br />
</p>
